h2 {
  font-size: calc(12px + 1vw);
  font-family: "Bree Serif", serif;
  color: #385678;
  padding-bottom: 0.5vw;
  border-bottom: 0.1vw solid #bdd5f1;
}

.article {
  width: 100%;
  text-align: justify;
  font-family: "Libre Baskerville", serif;
  margin: 1vw;
}

.image {
  margin-top: 3vw;
  border-bottom: 0.1vw solid #e9b7b7;
  object-fit: cover;
}

img {
  height: 15vw;
  width: 100%;
  object-fit: cover;
}

.author {
  font-weight: bold;
  color: #792525;
}

.description {
  font-size: calc(8px + 0.5vw);
  padding-bottom: 0.5vw;
  border-bottom: 0.1vw solid #e9b7b7;
}

.content {
  font-size: 1vw;
  font-size: calc(8px + 0.8vw);
}

a {
  font-weight: bold;
  color: #792525;
}

a:hover {
  cursor: pointer;
}
