<div class="container-fluid">
  <div class="row">
    <div
      class="article col-xs-6 col-md-5 col-lg-3"
      *ngFor="let article of articles"
    >
      <div class="image">
        <img [src]="article.urlToImage" />
      </div>
      <h2>{{ article.title }}</h2>
      <p class="description">
        <span class="author" *ngIf="article.author">{{ article.author }} </span
        >{{ article.description }}
      </p>
      <p class="content">
        {{ article.content }} <a target="_blank" [href]="article.url">more</a>
      </p>
    </div>
  </div>
</div>
