<div class="container-fluid">
  <div class="row">
    <div
      class="article col-xs-6 col-md-5 col-lg-3"
      *ngFor="let article of articles; let i = index"
      [attr.data-index]="i"
    >
      <div *ngIf="i % 2 == 0" class="categoryImage">
        {{ article.category }}
      </div>
      <div *ngIf="i % 2 != 0" class="category">
        {{ article.category }}
      </div>
      <div *ngIf="i % 2 == 0" class="image">
        <a [routerLink]="['/article', article._id]">
          <img [src]="article.urlToImage" />
        </a>
      </div>
      <h2>
        <a [routerLink]="['/article', article._id]">{{ article.title }}</a>
      </h2>
      <p class="description">
        <span class="author" *ngIf="article.author">{{ article.author }} </span
        >{{ article.description }}
      </p>
      <p *ngIf="i % 2 != 0" class="content">
        {{ article.content }}
        <a class="link" [routerLink]="['/article', article._id]">more</a>
      </p>
    </div>
  </div>
</div>
