<img class="logo" src="../assets/icons/logo.png" />
<h1 routerLink="/articles">FLEX NEWS</h1>
<div class="menu">
  <nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/articles', 'Business']"
            >Business
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/articles', 'Entertainment']"
            >Entertainment</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/articles', 'Health']">Health</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/articles', 'International']"
            >International</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/articles', 'Politics']"
            >Politics</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/articles', 'Sports']">Sports</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
