<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="formGroup">
      <label for="author">Author</label>
      <input
        class="form-control"
        id="author"
        formControlName="author"
        type="text"
        [ngModel]="article.author"
      />
    </div>

    <div class="formGroup">
      <label for="title">Title</label>
      <input
        class="form-control"
        id="title"
        formControlName="title"
        type="text"
        [ngModel]="article.title"
      />
      <div
        *ngIf="formControls.title.touched && formControls.title.invalid"
        class="alert alert-danger"
      >
        <div *ngIf="formControls.title.errors.required">
          Title is required.
        </div>
      </div>
    </div>

    <div class="formGroup">
      <label for="description">Description</label>
      <textarea
        class="form-control"
        id="description"
        formControlName="description"
        type="text"
        [ngModel]="article.description"
      ></textarea>
      <div
        *ngIf="
          formControls.description.touched && formControls.description.invalid
        "
        class="alert alert-danger"
      >
        <div *ngIf="formControls.description.errors.required">
          Description is required.
        </div>
      </div>
    </div>

    <div class="formGroup">
      <label for="url">URL</label>
      <input
        class="form-control"
        id="url"
        formControlName="url"
        type="text"
        [ngModel]="article.url"
      />
    </div>

    <div class="formGroup">
      <label for="urlToImage">URL to Image</label>
      <input
        class="form-control"
        id="urlToImage"
        formControlName="urlToImage"
        type="text"
        [ngModel]="article.urlToImage"
      />
    </div>

    <div class="formGroup">
      <label for="publishedAt">Published at</label>
      <input
        class="form-control"
        id="publishedAt"
        formControlName="publishedAt"
        type="text"
        [ngModel]="article.publishedAt"
      />
    </div>

    <div class="formGroup">
      <label for="content">Content</label>
      <textarea
        class="form-control"
        id="content"
        formControlName="content"
        type="text"
        [ngModel]="article.content"
      ></textarea>
      <div
        *ngIf="formControls.content.touched && formControls.content.invalid"
        class="alert alert-danger"
      >
        <div *ngIf="formControls.content.errors.required">
          Content is required.
        </div>
      </div>
    </div>

    <div class="formGroup">
      <label for="category">Category</label>
      <input
        class="form-control"
        id="category"
        formControlName="category"
        type="text"
        [ngModel]="article.category"
      />
      <div
        *ngIf="formControls.category.touched && formControls.category.invalid"
        class="alert alert-danger"
      >
        <div *ngIf="formControls.category.errors.required">
          Category is required.
        </div>
      </div>
    </div>

    <button
      type="button"
      class="btn btn-primary btn-lg btn-success shadow-none"
      type="submit"
    >
      Save
    </button>
  </form>
</div>
