@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: white;
  font-family: "Colus", serif;
}

@font-face {
  font-family: "Colus";
  src: url(./assets/fonts/colus.ttf) format("truetype");
}
